@charset "UTF-8";
/* CSS Document */

html,
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gotham, Helvetica Neue, Helvetica, Arial, " sans-serif";
}

header {
  padding: 32px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

footer {
  padding: 20px 30px;
  background-color: #dbecf1;
}

body {
  margin-left: auto;
  margin-right: auto;
  background: #e6f4f8;
}

.style-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 192px;
}

.style-nav ul {
  list-style-type: none;
}

.style-nav ul li a {
  text-decoration: none;
  color: #2f322a;
  text-align: center;
  display: block;
  text-transform: uppercase;
  padding: 8px;
}

.tiktok {
  height: 60px;
  width: 60px;
}
.instagram {
  height: 60px;
  width: 60px;
}
.youtube {
  height: 60px;
  width: 60px;
}
.tiktok {
  height: 60px;
  width: 60px;
}
.instagram {
  height: 60px;
  width: 60px;
}
.youtube {
  height: 60px;
  width: 60px;
}

.hero {
  background-image: url(images/hero.jpg);
  background-size: cover;
  padding: 20px 20px 50px 20px;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 57px;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 60px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 23px;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 120px;
}

h4 {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 35px;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 35px;
}

.button {
  border: 2px #ffffff solid;
  padding: 8px 30px;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
}

.info-box-tan {
  background-color: #b9a88e;
  color: #ffffff;
  padding: 30px 20px 60px;
  text-align: center;
}

.info-box-dark {
  background-color: #2d2d35;
  color: #ffffff;
  padding: 30px 20px 60px;
  text-align: center;
}

.footer-text {
  font-size: 13px;
  margin-bottom: 20px;
}

.col {
  width: 100%;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

/*Tablet View*/

@media (min-width: 768px) {
  body {
    max-width: 778px;
  }

  .style-nav ul li {
    display: inline-block;
  }

  .style-nav ul {
    text-align: center;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 90px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .col-md-one-half {
    width: 50%;
  }

  .col {
    float: left;
    padding: 0px 7px 14px;
  }
}

/*Desktop View*/

@media (min-width: 1024px) {
  body {
    max-width: 1200px;
  }

  .style-logo {
    float: left;
  }

  .style-nav {
    float: right;
  }

  .col-lg-one-fourth {
    width: 25%;
  }
}

/*Coder form style*/
.contact-form {
  background-color: rgba(141, 145, 146, 0.8);
  padding: 20px;
  color: var(--primary-color);
  border: solid 3px var(--secondary-color);
  width: 93%;
  margin: 3.5%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contact-form h3 {
  font-size: 24px;
  margin: 0;
}
.contact-form p {
  margin: 5px 0 15px 0;
}
.form-input {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}
.form-input:focus {
  background-color: rgb(255, 255, 255);
  outline: none;
}
.contact-form label {
  margin: 0 5px;
}
.contact-form button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}
.contact-form button:hover {
  background-color: var(--tertiary-color);
}

.checkbox-wrapper input,
.radio-wrapper input {
  opacity: 0;
}
.checkbox-wrapper label,
.radio-wrapper label {
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
}
.checkbox-wrapper label::before,
.radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid var(--secondary-color);
  position: absolute;
  top: -4px;
  left: -30px;
}
.radio-wrapper label::before {
  border-radius: 50%;
}
.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  left: -29px;
  top: -3px;
  background-image: radial-gradient(
    circle,
    var(--tertiary-color),
    var(--secondary-color)
  );
}
.checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58deg);
}
.checkbox-wrapper input + label::after,
.radio-wrapper input + label::after {
  content: none;
}
.checkbox-wrapper input:checked + label::after,
.radio-wrapper input:checked + label::after {
  content: "";
}
/* Coder style end */

footer {
  padding: 30px 40px;
  background-color: darkgrey;
}

.form-group {
  float: center;
}

.footer-text {
  font-size: 13px;
  margin-bottom: 20px;
}
